html{
    scroll-behavior: smooth;
}

.body {
    font-family: 'Barlow Condensed';
    padding:0;
    width:100%;
    margin-right:auto; 
    margin-left:auto;
}

body::-webkit-scrollbar { 
    display: none; 
} 

.main {
    position: relative;
    color: white;
    z-index: 1;
} 

.menu ul {
    margin-top: 19px;
    margin-right: 15px;
}

ul li {
    display:inline-block;
    margin-right:40px;
}

.menu ul li a {
    font-size:18px;
    text-decoration:none;
}

.nav-trans:hover::after {
    width:100%;
    transition: width .4s;
}

.nav-trans::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .4s;
}

.results {
    background-color: #F0F0F0;
    padding-bottom: 40px;
}

.no-results {
    text-align: center;
}

.sightings {
    background-color: #F0F0F0;
    padding-bottom: 40px;
}

.sidebar {
    position: fixed;
    left: 0px;
    width: 120px;
    padding-top:520px;
    height: 100%;
    z-index: 0;
    background: #F0F0F0;
    border-right: 2px solid white;
    transition: 1s;
}

.sidebar.scroll{
    background-color:white;
    padding-top:350px;
    left: 0;
    transition: .8s;
}

.sidebar ul li{
    margin-top:50px;

}

.sidebar ul li a {
    text-decoration: none;
}

.image-preview{
    height: 270px;
    width: 90%;
    border: 2px solid #dddddd;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.image-upload{
    display:none;
    min-height: 250px;
    max-width: 100%;
    max-height: 100%;
}

.text-holder > .text{
    font-size:18px;
    margin-top:50px; 
    border-left:1px solid #dddddd; 
    padding-left:30px;
}
.search-button .fuck{
    margin-left: 1em;
}

.text-holder-wide{
    padding-left: 90px;
    border-left: 1px solid #dddddd;
}
.image-wide {
    height:300px;
}
.image-wide > img{
    max-height:100%;
    max-width:100%; 
    display: block; 
    margin-left: auto; 
    margin-right:auto;
}
.text-area{
    height:230px;
}
.text-holder-wide{
    padding-left:30px;
}
.modal-body .image{
    height:350px;
    padding-right:50px;
    max-width:70%;
}
.modal-body .image img{
    max-height:350px; 
    max-width:100%; 
    margin-left:20px;
}

@media screen and (max-width: 1400px) {
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .card {
        max-height:300px;
    }
    .card-body .image{
        max-height:130px;
    }
    .modal-body .image{
        height:350px;
        max-width:90%;
        padding:0;
        margin:0;
        margin-left:auto;
        margin-right:auto;
    }
    .modal-body .image img{
        max-width:100%;
        max-height:100%;
        margin:0;
        padding:0;
    }
    .text-holder{
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        min-width:100%;
    }
    .text-holder > .text{
        border-left:none;
        border-top:1px solid #dddddd; 
        border-bottom:1px solid #dddddd;
        padding-left:0;
        padding-top:20px;
        padding-bottom:20px;
        width:70%;
        margin-left:auto;
        margin-right:auto;
        margin-top:30px;
    }
    .description{
        text-align:center;
    }
    .modal-header {
        text-align:center;
    }
    .search-button .fuck{
        margin-left: 0;
    }
    .text-area-wide{
       font-size:12px;
       line-height:80%;
    }
    .text-area-wide > h3{
        font-size:16px;
     }
    .text-holder-wide{
        height: 210px;
    }
    .text-area{
        height:140px;
    }
    .image-wide{
        height:240px;
    }
    .image-wide > img{
        max-height:210px;
    }
}

@media screen and (max-width: 767px) {
    .card {
        max-height:100%;
        max-width:350px;
        margin-left:auto;
        margin-right:auto;
    }
    .card-body .image{
        max-height:100%;
    }
    .search-button{
        margin-bottom:50px;
    }
    .text-area-wide{
        display:none;
    }
    .image-wide{
        height:260px;
    }
    .image-wide > img{
        max-height:235px;
    }
    .text-holder-wide{
        border:none;
    }
}